.form-btn{
display: inline-block;
margin-right:10px;
}

.form-btn button.btn{
margin-right:10px;
}

@media (max-width: 768px) {

	.form-btn{ 
	display: block;
	width:100%;
	}

	.form-btn button.btn{
	width:100%;
	padding-left:0;
	padding-right:0;
	margin-bottom:5px;
	}

    .form-btn a.btn{
	width:100%;
	padding-left:0;
	padding-right:0;
	margin-bottom:5px;
	}

}